---

const {text} = Astro.props;
---


<button onclick="window.location.href='#pricing'" class="button">
  OFERTA NAVIDAD
</button>


<style>

  :root {
    --red: #ff1a1a;  
    --red-dark: #cc0000;
    --text: white;  
   }
      .button {

    font-size: 15px;
    padding: 0.7em 2.7em;
    letter-spacing: 0.06em;
    position: relative;
    font-family: inherit;
    border-radius: 0.6em;
    overflow: hidden;
    transition: all 0.3s;
    line-height: 1.4em;
    border: 2px solid var(--red);
    background: linear-gradient(to right, rgba(255, 26, 26, 0.8) 1%, rgba(255, 26, 26, 0.6) 40%, rgba(255, 26, 26, 0.6) 60%, rgba(255, 26, 26, 0.8) 100%);
    color: var(--text);
    
    }

    .button:hover {
    color: #ffffff;
    border-color: #ff5252;
    }

    .button:before {
    content: "";
    position: absolute;
    left: -4em;
    width: 4em;
    height: 100%;
    top: 0;
    transition: transform .4s ease-in-out;
    background: linear-gradient(to right, transparent 1%, rgba(255, 26, 26, 0.3) 40%, rgba(255, 26, 26, 0.3) 60%, transparent 100%);
    pointer-events: none;
    }

    .button:hover:before {
    transform: translateX(15em);
    }

    @media (max-width: 768px) {
    .button {
        font-size: 14px;
        padding: 0.6em 0.5em;
    }
  }
</style>
