---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
/* import Hero from '../components/Hero.astro'; */
import ServiceSelector from '../components/ServiceSelector.astro';
import ServicesItems from '../components/ServicesItems.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactForm from '../components/contact-form/ContactForm';
import Footer from '../components/Footer.astro';
import Aurora from '../components/hero/Aurora.jsx';
import Hero from '../components/Hero.astro';
import ScrollVelocity from '../components/scroll-velocity/ScrollVelocity';
import Shopify from '../components/Shopify.astro';
import Integrations from '../components/Integrations.astro';
---

<Layout title="Kreadium - Construimos tu presencia digital">
	<Header />
	<div class="relative">
	
		<div class="hidden md:block">
			<Aurora
		  client:only
		  colorStops={["#A5DEDC", "#60D2AE", "#A5DEDC"]}
		  blend={0.5}
		  amplitude={1.1}
		  speed={0.5}
		/>
		</div>
		
		<Hero />
	</div>
	   
		<ServicesItems />
		<div class="py-0 md:py-[100px]">
			<ScrollVelocity
				client:only
				texts={['DESARROLLAMOS EXPERIENCIAS ÚNICAS', 'PARA QUE TU MARCA DESTAQUE']} 
				velocity={100}
				className="custom-scroll-text"
			/>
		</div>
	<!-- 	
		<ServiceSelector /> -->
		<Shopify />
		<Integrations />
		
		<Testimonials />
	<ContactForm client:only/> 
	<Footer />
</Layout>
