---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ServicesItems from '../components/ServicesItems.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactForm from '../components/contact-form/ContactForm';
import Footer from '../components/Footer.astro';
import FaultyTerminal from '../components/faulty-terminal/FaultyTerminal';
import Hero from '../components/Hero.astro';
import ScrollVelocity from '../components/scroll-velocity/ScrollVelocity';
import Shopify from '../components/Shopify.astro';
import Integrations from '../components/Integrations.astro';
import Galaxy from '../components/galaxy/Galaxy';
---

<Layout title="Kreadium - Construimos tu presencia digital">
	<Header />

	<!-- Vista desktop: Galaxy Hero -->
	<div class="md:block relative w-full md:h-[400px] lg:h-[600px] h-[400px] overflow-hidden">
		<Galaxy client:only 
		mouseInteraction={false}
		density={0.5}
		saturation={0.5}
		glowIntensity={0.3}
		autoCenterRepulsion={3}
		hueShift={40}
		/>
		<Hero />
		<!-- Overlay gradient fade to black -->
		<div class="absolute inset-0 pointer-events-none bg-gradient-to-b from-transparent via-transparent to-black/100"></div>
	</div>   
		<ServicesItems />
		<div class="py-0 md:py-[100px]">
			<ScrollVelocity
				client:only
				texts={['DESARROLLAMOS EXPERIENCIAS ÚNICAS', 'PARA QUE TU MARCA DESTAQUE']} 
				velocity={100}
				className="custom-scroll-text gap-spacing-40"
			/>
		</div>
	<!-- 	
		<ServiceSelector /> -->
		<Shopify />
		<Integrations />
		
		<Testimonials />
	<ContactForm client:only/> 
	<Footer />
</Layout>
