---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import ServicesItems from '../components/ServicesItems.astro';
import Testimonials from '../components/Testimonials.astro';
import ContactForm from '../components/contact-form/ContactForm';
import Footer from '../components/Footer.astro';
import FaultyTerminal from '../components/faulty-terminal/FaultyTerminal';
import Hero from '../components/Hero.astro';
import ScrollVelocity from '../components/scroll-velocity/ScrollVelocity';
import Shopify from '../components/Shopify.astro';
import Integrations from '../components/Integrations.astro';
---

<Layout title="Kreadium - Construimos tu presencia digital">
	<Header />
	<div style={{ width: '100%', height: '600px', position: 'relative' }}>
		<FaultyTerminal
			client:only
			scale={1.5}
			gridMul={[2, 1]}
			digitSize={1.1}
			timeScale={1}
			pause={typeof window !== 'undefined' && window.innerWidth < 768}
			scanlineIntensity={1}
			glitchAmount={1}
			flickerAmount={1}
			noiseAmp={1}
			chromaticAberration={0}
			dither={0}
			curvature={0}
			tint="#74F9CB"
			mouseReact={typeof window !== 'undefined' && window.innerWidth >= 768}
			mouseStrength={0.5}
			pageLoadAnimation={false}
			brightness={0.2}
			className="faulty-terminal"
			style={{ 
				position: 'absolute',
				top: '0',
				left: '0',
				width: '100%', 
				height: '100%',
				zIndex: '1'
			}}
		/>
		
		<div style={{ position: 'relative', zIndex: '10', pointerEvents: 'none' }}>
			<Hero />
		</div>
	</div>
	   
		<ServicesItems />
		<div class="py-0 md:py-[100px]">
			<ScrollVelocity
				client:only
				texts={['DESARROLLAMOS EXPERIENCIAS ÚNICAS', 'PARA QUE TU MARCA DESTAQUE']} 
				velocity={100}
				className="custom-scroll-text gap-spacing-40"
			/>
		</div>
	<!-- 	
		<ServiceSelector /> -->
		<Shopify />
		<Integrations />
		
		<Testimonials />
	<ContactForm client:only/> 
	<Footer />
</Layout>
