---
---
<section class="relative flex flex-col items-center justify-center text-white text-center h-[500px] md:h-[calc(100vh-0rem)]" id="home">
    <div class="mt-[150px] md:mt-0">
    <span class="text-gray-200 bg-stone-950 rounded-full px-4 p-2 bg-opacity-40 text-sm md:text-xl">
        Impulsamos tu presencia digital
    </span>
  
        <h1 class="px-10 md:px-0 text-5xl md:text-8xl font-bold">
            Construyamos 
            <span class="bg-gradient-to-r from-[var(--accent)] via-teal-300 to-teal-700 bg-clip-text text-transparent">
                juntos
            </span> tu<br>presencia digital
        </h1>
        <p class="px-10 md:px-0 text-sm md:text-xl py-5 px-2 text-gray-300 text-balance">
            Diseño profesional y desarrollo a medida para tu negocio.<br>
            Transformamos tu visión en una presencia digital impactante.
        </p>
    </div>
</section>
