---
---
<section class="relative flex flex-col items-center justify-center text-white text-center h-[500px] md:h-[calc(100vh-0rem)]" id="home">
    <div class="absolute inset-x-0 top-0 h-[100vh] w-full b-box bg-cover bg-center z-[-2]"></div>
    <div class="mt-[150px] md:mt-0">
    <span class="text-gray-200 bg-stone-950 rounded-full px-4 p-2 bg-opacity-40 text-sm md:text-xl">
        Creamos tu presencia digital
    </span>
  
        <h1 class="px-10 md:px-0 text-5xl md:text-8xl font-bold">
            Construyamos 
            <span class="bg-gradient-to-r from-[var(--accent)] via-teal-300 to-teal-700 bg-clip-text text-transparent">
                juntos
            </span> tu<br>presencia digital
        </h1>
        <p class="px-10 md:px-0 text-sm md:text-xl py-5 px-2 text-gray-300 text-balance">
            Diseño profesional y desarrollo a medida para tu negocio.<br>
            Transformamos tu visión en una presencia digital impactante.
        </p>
    </div>
</section>

<style>
      .b-box {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: hsla(0, 0%, 0%, 1);
      overflow: hidden;
    }

    .b-box::before {
      content: "";
      position: absolute;
      /* Aumentamos el área para evitar bordes durante la rotación */
      top: -50%;
      left: -50%;
      width: 200%;
      height: 200%;
      background-image:
        radial-gradient(at 60% 0%, hsla(166,81%,36%,0.16) 0px, transparent 50%),
        radial-gradient(at 52% 0%, hsla(175,74%,51%,0.39) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(180,0%,0%,1) 0px, transparent 50%),
        radial-gradient(at 52% 0%, hsla(340,8%,13%,1) 0px, transparent 50%),
        radial-gradient(at 49% 0%, hsla(15,10%,8%,1) 0px, transparent 50%),
        radial-gradient(at 55% 0%, hsla(0,0%,0%,1) 0px, transparent 50%),
        radial-gradient(at 44% 0%, hsla(178,83%,37%,0.12) 0px, transparent 50%);
      /* Animación de rotación */
      animation: rotateMesh 10s linear;
    }

    @keyframes rotateMesh {
      from {
        transform: translate3d(0);
      }
      to {
        transform: translate3d(5ch, 0.4in, 5em);
      }
    }
</style>
