---
---
<section class="relative flex flex-col items-center justify-center text-white text-center h-[500px] md:h-[calc(100vh-0rem)]">
    <div class="absolute inset-x-0 top-0 h-[100vh] w-full b-box bg-cover bg-center z-[-2]"></div>
    <div class="absolute inset-x-0 bottom-0 h-32 bg-gradient-to-b from-transparent to-[#1A1D1F] z-[-1]"></div>
    <span class="text-gray-200 bg-stone-950 rounded-full px-4 p-2 bg-opacity-40 text-sm md:text-xl">
        Creamos tu presencial digital perfecta
    </span>
    <h1 class="text-3xl md:text-8xl font-bold">
        Construyamos 
        <span class="bg-gradient-to-r from-[var(--accent)] via-teal-300 to-teal-700 bg-clip-text text-transparent">
            juntos
        </span> tu<br>presencia digital
    </h1>
    <p class="text-sm md:text-xl py-5 px-2 text-gray-300 text-balance">
        Diseño profesional y desarrollo a medida para tu negocio.<br>
        Transformamos tu visión en una presencia digital impactante.
    </p>
</section>

<style>
    .b-box{
        background-color:hsla(0,0%,0%,0.14);
        background-image:
        radial-gradient(at 61% 0%, hsla(166,81%,36%,0.16) 0px, transparent 50%),
        radial-gradient(at 52% 0%, hsla(175,65%,52%,0.48) 0px, transparent 50%),
        radial-gradient(at 0% 50%, hsla(355,7%,12%,1) 0px, transparent 50%),
        radial-gradient(at 53% 100%, hsla(340,8%,13%,1) 0px, transparent 50%),
        radial-gradient(at 0% 100%, hsla(15,10%,8%,1) 0px, transparent 50%),
        radial-gradient(at 80% 100%, hsla(240,0%,0%,1) 0px, transparent 50%),
        radial-gradient(at 42% 0%, hsla(178,83%,37%,0.12) 0px, transparent 50%);
    }
</style>
