---
import { Icon } from 'astro-icon/components'
import SpotlightCard from "./card/SpotlightCard";

const services = [
  {
    title: "Diseño Gráfico",
    description: "Creamos identidades visuales únicas que reflejan la esencia de tu marca.",
    icon: "pencil",
  },
  {
    title: "Diseño Web",
    description: "Diseñamos sitios atractivos y funcionales para una experiencia única.",
    icon: "browser",
  },
  {
    title: "Desarrollo Web",
    description: "Desarrollamos sitios web rápidos, seguros y optimizados para SEO.",
    icon: "code",
  },
  {
    title: "Ecommerce",
    description: "Construimos tiendas online escalables y fáciles de gestionar.",
    icon: "cart",
  }
];
---

<div class="container mx-auto py-10 md:py-[100px] px-4 sm:px-6 lg:px-8" id="services">
    <div class="max-w-7xl mx-auto">
      <h2 class="text-3xl text-white sm:text-4xl md:text-6xl">¿Qué hacemos?</h2>
      <p class="mt-4 text-lg text-gray-400">Ofrecemos soluciones creativas y técnicas para impulsar tu negocio.</p>
      <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        {services.map(service => (
            <div class="flex">
              <SpotlightCard  className="custom-spotlight-card" spotlightColor="rgba(0, 229, 255, 0.2)" client:only>
                {service.icon && (
                  <div class="py-3">
                    <Icon name={service.icon} size="46" />
                  </div>
                )}
                <h3 class="text-2xl text-white">{service.title}</h3>
                <p class="mt-4 text-gray-400">{service.description}</p>
                <a href="#contacto" class=""></a>
              </SpotlightCard>
            </div>
          ))}
          
      </div>
    </div>
  </div>
  
