---
const services = [
  {
    title: "Diseño Gráfico",
    description: "Creamos identidades visuales únicas que reflejan la esencia de tu marca.",
  },
  {
    title: "Diseño Web",
    description: "Diseñamos sitios atractivos y funcionales para una experiencia única.",
  },
  {
    title: "Desarrollo Web",
    description: "Desarrollamos sitios web rápidos, seguros y optimizados para SEO.",
  },
  {
    title: "Ecommerce",
    description: "Construimos tiendas online escalables y fáciles de gestionar.",
  }
];
---

<div class="py-16 px-4 sm:px-6 lg:px-8 ">
    <div class="max-w-7xl mx-auto text-center">
      <h2 class="text-3xl text-white sm:text-4xl md:text-6xl">Nuestros Servicios</h2>
      <p class="mt-4 text-lg text-gray-400">Ofrecemos soluciones creativas y técnicas para impulsar tu negocio.</p>
      <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        {services.map(service => (
            <div class="flex">
              <div class="group w-full rounded-md bg-gradient-to-r from-[var(--accent)] via-teal-300 to-teal-700 p-1 transition-transform duration-300 hover:scale-105 hover:shadow-lg">
                <div class="relative flex h-full w-full items-start bg-[var(--bg-dark)] rounded-md p-6 transition-all duration-500">
                  <div class="absolute inset-2 rounded-lg bg-gradient-to-tl from-bg-gray-800 via-stone-900 to-gray-600 opacity-0 transition-opacity duration-500 group-hover:opacity-40 blur-lg"></div>
                  <div class="relative z-10">
                    <h1 class="text-xl md:text-3xl text-white text-left">{service.title}</h1>
                    <p class="text-sm leading-5 text-gray-400 sm:text-base sm:leading-7 text-left mt-4">{service.description}</p>
                  </div>
          
                </div>
              </div>
            </div>
          ))}
          
      </div>
    </div>
  </div>
  
