---

import CommentCarousel from "./carousel-comment/CarouselComment";
import testimonials from "../data/testimonials.json"

const comments = testimonials.comments;

---
    <div class="container mx-auto">
      <h2 class="text-3xl text-white sm:text-4xl md:text-6xl text-center">Testimonios</h2>
        <p class="mt-4 text-lg text-gray-400 text-center mb-5">Esto es lo que nuestros clientes opinan de nosotros.</p>
      <CommentCarousel comments={comments} client:load />
    </div>


