---
import "../styles/global.css";
import WhatsappButton from "../components/buttons/WhatsappButton.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Kreadium - Construimos tu presencia digital" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
	   <script async src="https://www.googletagmanager.com/gtag/js?id=G-TN1ZFJYB0X"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());
		  gtag('config', 'G-TN1ZFJYB0X');
		</script>
		</head>
	<body>
		<WhatsappButton />
		<slot />


		
	</body>
</html>
<style is:global>
	:root {
		--accent: #4CD6C0;
		--accent-hover:#09b397;
		--bg-dark: #000000;
		--text-light: #ffffff;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-dark);
		color: var(--text-light);
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		padding: 0;
	}
</style>