---
import "../styles/global.css";
import WhatsappButton from "../components/buttons/WhatsappButton.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Kreadium - Construimos tu presencia digital" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

				<!-- Open Graph Meta Tags -->
		<meta property="og:title" content="Kreadium - Construimos tu presencia digital">
		<meta property="og:description" content="Diseño web, desarroll web wordpress, shopify, shopify ecommerce y marketing digital en Chile. Creamos experiencias digitales únicas para tu marca.">
		<meta property="og:image" content="https://kreadium.cl/og-tags.png">
		<meta property="og:url" content="https://kreadium.cl">
		<meta property="og:type" content="website">
		<meta property="og:site_name" content="Kreadium">  
		<meta property="og:locale" content="es_CL">

		<!-- Twitter Card Meta Tags -->
		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:title" content="Kreadium - Construimos tu presencia digital">
		<meta name="twitter:description" content="Diseño web, desarroll web wordpress, shopify, shopify ecommerce y marketing digital en Chile. Creamos experiencias digitales únicas para tu marca.">
		<meta name="twitter:image" content="https://kreadium.cl/og-tags.png">
		<meta name="twitter:site" content="@kreadium">
		<meta name="twitter:creator" content="@kreadium">

		<!-- Meta Tags adicionales recomendados -->
		<meta name="description" content="Diseño web, desarroll web wordpress, shopify, shopify ecommerce y marketing digital en Chile. Creamos experiencias digitales únicas para tu marca.">
		<meta name="keywords" content="kreadium, desarrollo web, diseño gráfico, ecommerce, marketing digital, redes sociales, branding, SEO, Chile">
		<meta name="author" content="Kreadium">
		<meta name="robots" content="index, follow">

		<!-- Favicon -->
		<link rel="icon" type="image/x-icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">

		<!-- Canonical URL -->
		<link rel="canonical" href="https://kreadium.cl">
				
		<title>{title}</title>

		<!-- Google tag (gtag.js) -->
	   <script async src="https://www.googletagmanager.com/gtag/js?id=G-GTM-5WJQJBJW"></script>
	    <!-- Google Tag Manager -->
					<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
					new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
					j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
					'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
					})(window,document,'script','dataLayer','GTM-5WJQJBJW');</script>
		<!-- End Google Tag Manager -->
		</head>
	<body>
		<WhatsappButton />
		<slot />


		<!-- Google Tag Manager (noscript) -->
			<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WJQJBJW"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
	</body>
</html>
<style is:global>
	:root {
		--accent: #4CD6C0;
		--accent-hover:#09b397;
		--bg-dark: #000000;
		--text-light: #ffffff;
	}
	html {
		font-family: system-ui, sans-serif;
		background: var(--bg-dark);
		color: var(--text-light);
		scroll-behavior: smooth;
	}
	body {
		margin: 0;
		padding: 0;
	}
</style>